{% extends 'main/base.html' %}

{% block title %}
    {{ todo.name }}
{% endblock %}

{% block content %}
    <h1>{{ todo.name }}</h1>
    <form action="#" method="post" class="">
        {% csrf_token %}
        {% for item in todo.item_set.all %}
        <div class="list-group mb-3">
            <div class="form-check list-group-item">
                {% if item.complete == False %}
                    <input type="checkbox" value="clicked" name="c{{item.id}}" class="form-check-input" id="c{{item.id}}">
                    <label for="c{{item.id}}" class="form-check-label stretched-link">
                        {{ item.text }}
                    </label>
                {% else %}
                    <input type="checkbox" value="clicked" name="c{{item.id}}" class="form-check-input" id="c{{item.id}}" checked>
                    <label for="c{{item.id}}" class="form-check-label stretched-link">
                        {{ item.text }}
                    </label>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="input-group">
            <button type="submit" name="save" value="save" class="btn btn-success" id="saver">Save</button>
            <input type="text" name="new" class="form-control" aria-label="New item input">
            <button type="submit" name="newItem" value="newItem" class="btn btn-primary" id="adder">Add Item</button>
        </div>
    </form>
{% endblock %}
